:root {
  --text-color-subtle: rgba(250, 250, 250, 0.2);
  --text-color-hover: rgba(250, 250, 250, 0.8);
  --border-radius: 0.188em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* { margin:0; padding:0; }

body {
  background-color: #000;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  font-size: 1.4em;
}

version {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem;
  color: rgba(250,250,250,0.4);
  font-size: 0.5rem;
  user-select: none;
  cursor: default;
}

a#gear {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(250, 250, 250, 0.4);
  user-select: none;
  z-index: 1;
}

a#gear img {
  width: 2.2em;
  height: 2.2em;
  opacity: 25%;
  transition: all 700ms ease-out;
}

a:hover#gear img {
  opacity: 100%;
  animation: spin 60s linear infinite;
}

settings-page {
  display: block;
  position: absolute;

  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  margin: 0 auto;

  background-color: rgba(250, 250, 250, 0.7);
  border: solid 1px rgba(255, 255, 255, 0.9);
  border-width: 0 1px;
}

settings-page.hidden {
  display: none;
}

start-page {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

info-box {
  position: absolute;
  top: 0;
  left: 2em;
  z-index: 1;
}
