:root {
  --text-color-subtle: rgba(250, 250, 250, 0.2);
  --text-color-hover: rgba(250, 250, 250, 0.8);
}

* { margin:0; padding:0; }

background {
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;

  vertical-align: middle;
  text-align: center;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  font-size: 1.4em;
}

version {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem;
  color: rgba(250,250,250,0.4);
  font-size: 0.5rem;
  user-select: none;
  cursor: default;
}

.bezel {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  border-width: 0;
  transition: all 3s ease-out;

  color: var(--text-color-subtle);
  border-color: rgba(250, 250, 250, 0.1);
  background-color: rgba(17, 17, 17, 0.0);
}

.bezel .hide {
  color: rgba(250, 250, 250, 0);
  transition: all 900ms ease-out;
}

.bezel .aggressive {
  color: rgba(250, 250, 250, 1);
}

.bezel .demanding {
  color: rgba(250, 250, 250, 1);
  background-color: rgba(17, 17, 17, 0.8);
}

.bezel:hover {
  transition: all 900ms ease-out;
}

.bezel:hover {
  color: rgba(250, 250, 250, 1);
  border-color: rgba(250, 250, 250, 1);
  background-color: rgba(17, 17, 17, 0.8);
}

.bezel:hover .hide {
  color: rgba(250, 250, 250, 1);
}
