clock {
  position: absolute;
  margin-left: 1rem;
  text-align: center;

  cursor: default;
  -moz-user-select: none;
}

clock.top_border date {
  border-top-width: 1px;
}

.light clock.top_border date { border-top-color: #111; }
.dark clock.top_border date { border-top-color: #eee; }

time {
  font-size: 3rem;
  display: block;
}

date {
  font-size: 1.5rem;
  font-weight: 300;
  display: block;
  border-top-width: 0px;
  border-top-style: solid;
}
